<header>
  <nav>
    <h1 class="logo">TechNotes</h1>
    <ul>
      <li><a routerLink="angular" routerLinkActive="active">Angular</a></li>
      <li><a routerLink="aws" routerLinkActive="active">Aws</a></li>
      <li><a routerLink="devops" routerLinkActive="active">Devops</a></li>
      <li><a routerLink="java" routerLinkActive="active">Java</a></li>
      <li>
        <a routerLink="microservices" routerLinkActive="active"
          >Microservices</a
        >
      </li>
      <li><a routerLink="react" routerLinkActive="active">React</a></li>
      <li>
        <a routerLink="react native" routerLinkActive="active">React Native</a>
      </li>
      <li>
        <a routerLink="springboot" routerLinkActive="active">Spring boot</a>
      </li>
      <li>
        <a routerLink="datascience" routerLinkActive="active">Data Science</a>
      </li>
      <li><a routerLink="aiml" routerLinkActive="active">AI / ML</a></li>
      <!-- Add more links as needed -->
    </ul>
  </nav>
</header>
