<app-header></app-header>
<router-outlet></router-outlet>
<div *ngFor="let snippet of codeSnippets">
  <pre><code [innerHTML]="snippet.code" class="language-javascript" appCodeHighlight></code></pre>
  <pre><code [innerHTML]="snippet.code" class="language-javascript"></code></pre>
  <pre [innerHTML]="snippet.code" class="language-javascript"></pre>
</div>
<h6>test</h6>
<ul>
  <li *ngFor="let snippet of codeSnippets">
    <h2>{{ snippet.title }}</h2>
    <p>{{ snippet.summary }}</p>
    <pre><code>{{ snippet.code }}</code></pre>
  </li>
</ul>
<img
  stc="/Users/ravirajsingh/Documents/code/frontend/angular/TechNotes/src/assets/images/angularjson.png"
  alt="angularjson"
/>

<div class="notes-container">
  <div class="note">
    <h2 class="note-title">Angular.json</h2>
    <p class="note-content">
      Summary: This is a configuration file used in Angular projects to manage
      project settings, build configurations, and various other options related
      to the project's structure and behavior.
    </p>
  </div>
  <!-- Add more notes here as needed -->
</div>
